system-genesis-block
organizations/fabric-ca/*/msp
organizations/fabric-ca/*/ca-cert.pem
organizations/fabric-ca/*/fabric-ca-server.db
organizations/fabric-ca/*/IssuerPublicKey
organizations/fabric-ca/*/IssuerRevocationPublicKey
organizations/fabric-ca/*/tls-cert.pem


